.pagesBtn {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 950px;
    margin: 30px auto;
    background: #1f2833;
    align-items: center;
    padding: 10px 30px;
}

.pagesBtn button {
    min-height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;
}

@media screen and (max-width: 1020px) {
    .pagesBtn {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {

    .pagesBtn {
        font-size: 18px;
    }

    .pagesBtn button {
        font-size: 18px;
        padding: 0 10px
    }
}